/* Estilos globais */
body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin: 20px;
}

h1 {
  color: navy;
}

h2 {
  color: navy;
}

h3 {
  margin: 10px;
}

form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="submit"] {
  background-color: navy;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}

input[type="submit"]:hover {
  background-color: darkblue;
}

/* Estilos específicos */
/* Você pode adicionar estilos específicos para cada tipo de página ou elemento, se necessário. */

/* Estilos para telas menores (menos de 768px de largura) */
@media (max-width: 768px) {
  body {
    align-items: flex-start;
  }
  .container {
    margin: 10px;
  }
  h1, h2, h3 {
    margin: 10px;
  }
  form {
    margin: 10px;
  }
  input[type="submit"] {
    margin: 10px 0;
  }
}
